.header {
    background-image: url("../images/Fitness3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 600px;
}

.header-left span {
    font-size: 6rem;
}

.header-right p {
    font-size: 3rem;
    font-weight: 600;
}

.header-right button:hover {
    border: 1px solid #fff;
}

@media screen and (max-width: 1200px) {
    .header-left span {
        font-size: 4rem;
    }

    .header-right p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 960px) {
    .header-left {
        display: none;
    }
}

.content img {
    margin-bottom: 10px;
}

.content img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.sidebar-heading {
    font-size: .75rem;
}

.navbar .navbar-nav .nav-item {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.nav-link:hover {
    color: #fff !important;
}

.nav-link:hover {
    color: red !important;
    transition: 0.5s !important;
}

.team-image {
    object-fit: cover;
    width: 140px !important;
    height: 140px !important;
}

#course-slides img:hover,
#course-content-tab .card:hover {
    transform: scale(1.02) !important;
    transition: 0.5s !important;
}
